.Rproj.user
.Rhistory
.RData
.Ruserdata
*.png
*.pdf
*.ipynb_checkpoints
*.gz
*.tsv
*.csv
*.rds
*.loom
*.h5ad
*.html
loom
*velocity*
results/cellbrowser*/*
results/markers/*
results/dimo*
data
dbases
docs
